---
const platforms = ["github", "instagram"];

const usernames = ["withastro", "thunderdog"];
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platforms[0]}.com/${usernames[0]}`}>{platforms[0]}</a>!</p>
  <p>Check out my cool modeling pictures on <a href={`https://www.${platforms[1]}.com/${usernames[1]}`}>{platforms[1]}</a>!</p>
</footer>